.fake_header
.container
  %h2.mt-5.mb-3 さあ、新たな世界へ出かけよう！
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .form-group
      = f.label :name, class: "col-sm-3 control-label"
      = f.text_field :name, class: "form-control", placeholder: '', require: true
    .form-group
      = f.label :image, class: "col-sm-3 control-label"
      = f.file_field :image, class: "form-control", placeholder: '', require: true
    .form-group
      = f.label :email, class: "col-sm-3 control-label"
      = f.email_field :email, class: "form-control", placeholder: '', require: true
    .form-group
      = f.label :password, class: "col-sm-3 control-label"
      = f.password_field :password, class: "form-control", placeholder: '', require: true
    .form-group
      = f.label :password_confirmation, class: "col-sm-3 control-label"
      = f.password_field :password_confirmation, class: "form-control", placeholder: '', require: true
    .form-group
      = f.label :my_profile, class: "col-sm-3 control-label"
      = f.text_area :my_profile, class: "form-control", placeholder: '', require: true, rows: '5'

    .form-group
      = f.submit "新規登録する", class: "btn btn-info"
