= form_for(@article) do |f|
  =f.hidden_field :user_id, value: current_user.id
  .row
    .col-3= f.label :title
    .col-9= f.text_field :title
  .field.m-5
    = f.label :text
    = f.text_area :content, 'data-provider': :summernote
    .actions
      = f.submit
